/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/* Primary color */
.primary {
    color: #ffffff;
    background-color: #0047a3;
}
.primary-dark {
    color: #ffffff;
    background-color: #002173;
}
.primary-light {
    color: #ffffff;
    background-color: #5172d5;
}
/* Secondary color */
.secondary {
    color: #000000;
    /* background-color: #2e4156; */
    background-color: #90a4ae;
}
.secondary-dark {
    color: #000000;
    /* background-color: #041b2d; */
    background-color: #62757f;
}
.secondary-light {
    color: #000000;
    /* background-color: #596c83; */
    background-color: #c1d5e0;
}
.background {
    background-color: #f3f3f3;
    color: #000000;
}
.surface {
    background-color: #c0c0c0;
    color: #000000;
}
.error {
    background-color: #b00020;
    color: #ffffff;
}
.btn:hover {
    color: #fff;
}
.form-control, #chiudiRicerca, #nuovaRicerca {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #5172d5;
    outline: 0;
    box-shadow: none;
}
.footer-link {
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: border-color .15s ease-out, color .15s ease-out;
}
.footer-link:hover {
    color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .15);
}
.link {
    color: #000000;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: border-color .15s ease-out, color .15s ease-out;
}
.link:hover {
    color: rgba(0, 0, 0, .6);
    border-color: rgba(0, 0, 0, .15);
}